#!/usr/bin/bash
####
# Advanced SmartOS Management Daemon
# 2015 By Jorge Schrauwen
# ----------------------------------
# asmd::service::exec-late
####
ASMD_SERVICE_NAME="exec-late"
ASMD_SERVICE_DESC="execute scripts after network is up"
ASMD_SERVICE_TYPE="transient"
ASMD_SERVICE_DEPENDENCIES="svc:/network/physical:default"
ASMD_SERVICE_DEPENDENTS=""

ASMD_SERVICE_EXECLATE_PATH=/usbkey/config.inc/exec-late

asmd_service_setup() {
  [ ! -d ${ASMD_SERVICE_EXECLATE_PATH} ] && mkdir -p ${ASMD_SERVICE_EXECLATE_PATH}
}

asmd_service_start() {
  asmd_core_log "service ${ASMD_SERVICE_NAME} starting ..."
  for FILE in $(ls -a ${ASMD_SERVICE_EXECLATE_PATH}); do
    [ ${FILE} == "." ] && continue
    [ ${FILE} == ".." ] && continue
    [ ! -x ${ASMD_SERVICE_EXECLATE_PATH}/${FILE} ] && asmd_core_log "skipping ${FILE}, not executable ..." && continue
    asmd_core_log "executing ${FILE} ..."
    $(${ASMD_SERVICE_EXECLATE_PATH}/${FILE})
  done
}

asmd_service_stop() { 
  asmd_core_log "nothing to stop for service ${ASMD_SERVICE_NAME}."
}
